* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* @font-face {
    font-family: Circular;
    src: url(../fonts/Circular\ Std\ Font.otf);
} */

header,
.second-top,
.second-bottom,
.third-inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}

header nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

header a {
  color: #3d4f5c;
  /* font-family: Circular; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  letter-spacing: -0.18px;
}

header button {
  border-radius: 32.5px;
  border: 1px solid #46b8c8;
  color: #46b8c8;
  text-align: center;
  /* font-family: Circular Std; */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  background: transparent;
  padding: 10px 15px;
}

/* MAIN SECTION */
.first {
  display: flex;
  position: relative;
  min-height: 90vh;
  align-items: center;
}

.first-left {
  max-width: 620px;
  margin-left: 10%;
}

.first-left h1 {
  color: #3d4f5c;
  /* font-family: Circular Std; */
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: 85px; /* 100% */
  letter-spacing: -1.7px;
}

.first-left p {
  color: #fb8958;
  /* font-family: Circular Std; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  letter-spacing: -0.24px;
  margin: 30px 0;
}

.first-left button {
  border-radius: 32.5px;
  background: #46b8c8;
  max-width: 157px;
  height: 45px;
  color: #fff;
  /* font-family: Circular Std; */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
  letter-spacing: -0.18px;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}

.first-right img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 700px;
  width: 100%;
}

/* SECOND SEC */

.second {
  background: #fbfafa;
}
.second-top {
  display: flex;
  justify-content: space-between;
  padding-top: 140px;
  flex-wrap: wrap;
}

.second-top h1 {
  color: #3d4f5c;
  /* font-family: Circular Std; */
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 100% */
  letter-spacing: -1px;
}

.second-top p {
  color: #fb8958;
  /* font-family: Circular Std; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  letter-spacing: -0.24px;
  margin-top: 35px;
}

.second-top-left {
  max-width: 680px;
  width: 100%;
}

.second-bottom {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

.second-bottom-card {
  max-width: 320px;
  width: 100%;
  min-height: 200px;
}

.second-bottom-card h1 {
  color: #fb8958;
  /* font-family: Circular Std; */
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 100% */
  letter-spacing: -0.3px;
}

.second-bottom-card h1::after {
  content: "";
  width: 50px;
  height: 1px;
  background: #3d4f5c;
  display: block;
  margin-top: 10px;
}

.second-bottom-card p {
  color: #3d4f5c;
  /* font-family: Circular Std; */
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 126.667% */
  letter-spacing: -0.3px;
  margin-top: 26px;
}

/* THIRD SECTION */
.third-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 120px 0;
}

.third-inner p {
  color: #fb8958;
  text-align: center;
  /* font-family: Circular Std; */
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  letter-spacing: -0.4px;
  margin-top: 20px;
}
