footer {
  padding: 80px 0 100px 0;
}

footer p {
  margin: 0;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-1 span {
  color: #939393;
  font-family: CM;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.footer-second h2,
.footer-4 h2 {
  color: #3d4f5c;
  font-family: CM;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-middle p {
  color: #939393;
  font-family: CM;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer-second li a {
  color: #46b8c8;
  font-family: CM;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.footer-4 li a img {
  margin: 10px 0;
  transition: all 2s ease-in-out;
}

.footer-4 li a img:hover {
  transform: rotate(270deg);
}

@media screen and (max-width: 992px) {
  .footer-second,
  .footer-4,
  .footer-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
